<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @song.name %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @song.formatted_duration %>
</p>

<audio controls>
  <source src="<%= @song.uploaded_file.url %>" type="audio/mpeg">
  Your browser does not support this audio format.
</audio>
